body {
    background: #fff1e5;
    font-family: sans-serif;
    font-size: 14px;
    padding: 20px;
}

.price-bar {
    display: flex;
    background-color: #2b2b2b
}

.indice-container {
    flex-basis: auto;
    margin: 0 10px 0 10px;
}

.symbol {
    float: left;
    color: white;
    padding-right: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.price {
    float: left;
}